.container {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.box {
    border: 2px solid black;
    max-width: 150px;
    aspect-ratio: 1;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

section {
    margin: 2rem 0;
}

h2 {
    font-size: 1.5rem;
}

span {
    font-size: 1.3rem;
}


.row {
    justify-content: center;
}

.move {
    width: 50%;
    aspect-ratio: 1;
    transition: opacity 0.5s ease;
    z-index: -1;
    opacity: 0;
}

.p1 {
    border-radius: 50%;
    background: red;
    opacity: 1;
}

.p2 {
    border-radius: 0;
    background: blue;
    opacity: 1;
}

.dull {
    filter: opacity(.4);
}